#blackBox {
    background: black; 
    width: 100px; 
    height: 250px; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 10px;
    overflow: hidden;
}

.circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    display: flex;
    margin-top: 20px;
    filter: brightness(0.5);
}

#timerSquare {
    position: relative;
    margin: 0 10px;
    top: -30px;
    padding: 25px 0;
    line-height: 0px;
    border: 3px solid red;
    border-radius: 5px;
    color: red;
    font-size: 300%;
    text-align: center;
}

.human {
    margin-top: 10px;
    visibility: hidden;
}

#stay {
    position: absolute;
    margin-left: -50px;
}

#go {
    margin-left: -53px;
}

.visible {visibility: visible}
.active {filter: brightness(1)}

.green {
    color: green !important;
    border-color:green !important;
}